@page "/Install"

<h3>Installation</h3>

<div>
    <p>Run following command: Install-Package Blazoring.JsonEditor</p>
    
    <p>Information about installment is available on <a href="https://github.com/vmakharashvili/Blazoring-JsonEditor" target="_blank">GutHub</a></p>
</div>

@code {

}
